.LandingPage {
    display: flex;
    flex-direction: column;
}

.PlayButton {
    padding: 10px;
    background: linear-gradient(90deg,cadetblue, cornflowerblue);
    border: solid #282c34 3px;
    border-radius: 5px;
    transition: 1s;
    font-size: 20px;
    font-family: source-code-pro, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;;
    color: black;
}

.PlayButton:focus {
    outline: none;
    border: solid grey 3px;
}



.PlayButton:hover {
    border: solid lightgreen 3px;
}