.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.letter-input {
  margin: 5px;
  width: 3rem;
  font-size: 3rem;
  border-radius: 5px;
  border-color: transparent;
  caret-color: transparent;
}

input:focus {
  outline: red solid 2px;
}